<div style="width: 500px; margin: auto">
    <div class="submit-form">
        <div *ngIf="!submitted">
            <div class="form-group">
                <label for="name" class="form-label">Name:</label>
                <input type="text" class="form-control" id="name" [(ngModel)]="product.ProductName"/>
            </div>

            <div class="form-group">
                <label for="price" class="form-label">price:</label>
                <input type="number" class="form-control" id="price" [(ngModel)]="product.ProductPrice"/>
            </div>

            <div class="form-group">
                <label for="ProductPhoto" class="form-label">Photo:</label>
                <input type="file" class="form-control" id="ProductPhoto" (change)="fileSelected($event)"/>
            </div>

            <div class="form-group">
                <label for="NumberInStock" class="form-label">NumberInStock:</label>
                <input type="number" class="form-control" id="NumberInStock" [(ngModel)]="product.NumberInStock"/>
            </div>

            <div class="form-group">
                <label for="Select" class="form-label">categoryName:</label>
                <select class="form-control" id="Select" [(ngModel)]="product.CatId">
                    <option *ngFor="let x of categoryName" value="{{x.categoryId}}">{{x.categoryName}}</option>
                  </select>
            </div>

            <button (click)="createProduct()" class="btn btn-success">Create</button>
        </div>

        <div *ngIf="submitted">
            <h3>You successfully created a product!</h3>
            <button class="btn btn-success" (click)="newProduct()">New..</button>
        </div>
    </div>
</div>